<html>
<head>
  <title>Student Management System</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <h1></h1>
  <form action="/" method="POST">
    <p>Type campus (i.e. SF, CHI, NYC, etc.)</p>
    <input type="text" name="" value="campus">
    <button type="button" name="button"></button>
  </form>

</body>
</html>
